#fantasyPage {
    background-image: url(../../src/picSource/head2Head.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#fantasyPageData {
    font-size: large;
}