#fantasyPage {
    background-image: url(../../src/picSource/head2Head.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#fantasyPageData {
    font-size: large;
}

#qb-button {
    vertical-align: top;
}

#qb-button-click {
    vertical-align: top;
    font-size: 24px;
}

#rb1-button {
    vertical-align: top;
}

#rb1-button-click {
    vertical-align: top;
    font-size: 24px;
}

#rb2-button {
    vertical-align: top;
}

#rb2-button-click {
    vertical-align: top;
    font-size: 24px;
}

#wr1-button {
    vertical-align: top;
}

#wr1-button-click {
    vertical-align: top;
    font-size: 24px;
}

#wr2-button {
    vertical-align: top;
}

#wr2-button-click {
    vertical-align: top;
    font-size: 24px;
}

#te-button {
    vertical-align: top;
}

#te-button-click {
    vertical-align: top;
    font-size: 24px;
}

#flx-button {
    vertical-align: top;
}

#flx-button-click {
    vertical-align: top;
    font-size: 24px;
}

#f-team-button {
    vertical-align: top;
}

#f-team-button-click {
    vertical-align: top;
    font-size: 24px;
}