#homePage {
    background-image: url(../../src/picSource/fieldSideView1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#homePageData {
    height: 100vh;
    display:flexbox;
}

.homeSearchBar {
    height: 70vh;
    margin-top: 3%;
}

#playerSearchBar {
    text-align: center;
    padding-top: 15%;
}

#playerSelect {
    vertical-align: top;
    font-size: 35px;  
}

#playerButton {
    vertical-align: top;
    font-size: 24px;
}

#teamSearchBar {
    text-align: center;
    padding-top: 2%;
}

#teamSelect {
    vertical-align: top;
    font-size: 35px;
}

#teamButton {
    vertical-align: top;
    font-size: 24px;
}

