#playerPage {
    background-image: url(../../src/picSource/qb2.jpg);
    //background-image: url(../../src/picSource/qb5.jpg);
    //background-image: url(../../src/picSource/mascotVIK1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#playerPageData {
    font-size:large;
}

#playerRep {
    font-size: large;
}

#playerIntro {
    font-size: large;
}

#playerImg {
    position: absolute;
}

#playerData {
    font-size: large
}

#playerResultSet {
    font-size: large;
}

.playerResult {
    font-size: small;
}