#playerPage {
    background-image: url(../../src/picSource/fieldView1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#playerRep {
    font-size: large;
}

#playerIntro {
    font-size: large;
}

#playerImg {
    position: absolute;
}

#playerData {
    font-size: large
}

#playerResultSet {
    font-size: large;
}

.playerResult {
    font-size: large;
}