#predictionPage {
    background-image: url(../../src/picSource/head2Head.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#predictionPageData {
    font-size: large;
}

#predictions {
    font-size: large;
}