#supportPage {
    background-image: url(../../src/picSource/mascotVIK1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#supportPageData {
    font-size: large;
}

.supportTab {
    font-size: large;
}