#teamPage {
    background-image: url(../../src/picSource/stadium2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    padding: 0;
}
