#teamPage {
    background-image: url(../../src/picSource/stadium5.jpg);
    //background-image: url(../../src/picSource/stadiumOverhead.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#teamPageData {
    font-size: large;
}

#teamDataDump {
    //background-color: #fff;
    width: 90%;
    position: absolute;
    left: 5vw;
    bottom: 30vh
}