body {
    background-color: rgb(191, 226, 187);
}
h1 {
    text-align: center;
}

a {
    font-size: large;
    padding: 10%;
}

#playerSearchBar {
    text-align: center;
    padding-top: 15%;
}

#teamSearchBar {
    text-align: center;
    padding-top: 1%;
}

.page {
    display: inline-block;
    height: 100%;
}

#pageData {
    width: 89%;
}

#banner {

    width: 10%;
    
    font-size: large;
}